BOT_TOKEN=fdsfdsfsdl231
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Pass123
DB_NAME=dispute_resolver
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_USER=default
REDIS_PASSWORD=Pass123
PROXY_HOST=
PROXY_PORT=
PROXY_LOGIN=
PROXY_PASSWORD=